body {
    overflow: hidden;
    background-color: black;
    color: red;
    text-align: center;
}
.container {
    width: 666px;
    height: 666px;
    margin: 0px auto;
    border: 6px solid red;
    background-color: white;
    position: relative; 
}
.hideDemon {
    visibility: hidden;
}
.visibleDemon {
    position: absolute;
     -webkit-animation: demonMove 30s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: demonMove 30s infinite alternate;
}
@-webkit-keyframes demonMove {
    0%   {left:0px; top:0px;}
    25%  {left:540px; top:0px;}
    50%  {left:540px; top:540px;}
    75%  {left:0px; top:540px;}
    100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes demonMove {
    0%   {left:0px; top:0px;}
    25%  {left:540px; top:0px;}
    50%  { left:540px; top:540px;}
    75%  {left:0px; top:540px;}
    100% {left:0px; top:0px;}
}